<%= form_with(model: constant, data: { turbo_frame: "_top" }, class: "space-y-6") do |form| %>
  <div class="bg-white px-6 py-8 shadow rounded-lg">
    <div class="space-y-6">
      <%= render "patient_search_input", form: form, constant: constant %>

      <%= render "constant_type_select", form: form %>

      <%= render "datetime_inputs", form: form %>

      <div>
        <%= form.label :notes, "Notas", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_area :notes,
            class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md",
            rows: 3,
            placeholder: "Detalles de la lectura o condiciones del paciente" %>
      </div>
    </div>

    <div class="mt-8 flex justify-end space-x-3">
      <%= link_to 'Cancelar', root_path,
          data: { turbo_frame: "_top" },
          class: "inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-[rgb(108_117_125)] hover:bg-[rgb(108_117_125)] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#007bfe] transition-colors duration-200" %>
      <%= form.submit "Guardar",
          class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-[rgb(40_166_69)] hover:bg-[#2e8b57] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#007bfe] transition-colors duration-200" %>
    </div>
  </div>
<% end %>
