<div id="flash" class="flash-container"></div>

<div class="max-w-[95rem] mx-auto px-4 sm:px-8 py-8" data-controller="modal">
  <%= render 'header_index' %>

  <div class="mb-6 transform transition-all duration-300 hover:shadow-md">
    <%= render 'filters/filters' %>
  </div>

  <% if @constants.any? %>
    <%= render 'constant_data' %>
  <% else %>
    <%= render 'not_found_constants' %>
  <% end %>

  <%= render 'modal_patient' %>
  <%= render 'modal_constant' %>
</div>